body, html {
    background-image: url(images/arch-linux-minimalistic-rainbow.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

body {
    height: 100%;
    overflow: scroll;
    padding-bottom: 20px; /* Remove small white bar */
}

a:link {
    color: white;
}

a:visited {
    color: lightgrey;
}

.element {
    text-decoration: none;
    color: black;
    background-color: lightgrey;
    padding: 10px
}

.element:hover {
    background-color: grey;
}

.active {
    background-color: grey;
}

img {
    text-align: center;
}

.img-container {
    text-align: center;
}

.icon-container {
    text-align: center;
}

.icon-container a {
    text-decoration: none;
}

.icon-container img:hover {
    opacity: 0.5;
}

nav {
    padding: 18px;
}

nav a:link {
    color: black;
}

nav a:visited {
    color: black;
}

.content {
    padding: 10px 18px;
    color: white;
}

.content a:link {
    color: white;
}

.content a:visited {
    color: white;
}

table, th, td {
    border: 1px solid white;
    text-align: center;
}
