/* =============== LAYOUTS SECTION =============== */


body, html {
    background-image: url(images/arch-linux-minimalistic-rainbow.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

body {
    height: 100%;
    overflow: scroll;
    padding-bottom: 20px; /* Remove small white bar */
}

nav {
    background-color: black;
    padding: 10px;
}

nav a {
    display: inline-block;
}

nav a:link {
    color: white;
}

nav a:visited {
    color: white;
}

nav a:active {
    color: white;
}

nav a:hover {
    color: white;
}

nav a:focus {
    color: white;
}

.hamburger-container {
    display: none;
}

@media (max-width: 500px), handheld {
    .main-nav a {
        display: none;
    }

    .main-nav.responsive a {
        display: block;
    }

    .hamburger-container {
        cursor: pointer;
        display: inline-block;
        width: 100%;
    }

    .top-bar, .middle-bar, .bottom-bar {
        background-color: #333;
        height: 5px;
        margin: 6px 0;
        transition: 0.5s;
        width: 35px;
    }

    .change .top-bar {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .middle-bar {
        opacity: 0;
    }

    .change .bottom-bar {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
}

.element {
    background-color: black;
    color: black;
    font-family: helvetica, arial, "times new roman";
    margin-right: -5px;
    padding: 10px;
    text-decoration: none;
}

.element:hover {
    background-color: #404040;
    transition: all 0.3s;
}

.active {
    background-color: #404040;
}
.about-content {
    text-align: center;
}

.content {
    color: white;
    font-family: helvetica, arial, "times new roman";
    padding: 10px 18px;
}

.content a:link {
    color: white;
}

.content a:visited {
    color: white;
}

.icon-container {
    text-align: center;
}

.icon-container a {
    text-decoration: none;
}

.icon-container img:hover {
    opacity: 0.5;
    transition: 0.3s;
}


/* =============== GENERIC =============== */


a:link {
    color: white;
}

a:visited {
    color: lightgrey;
}

img {
    text-align: center;
}

.img-container {
    text-align: center;
}

table, th, td {
    border: 1px solid white;
    text-align: center;
}

/* =============== ABOUT =============== */
ul {
    margin: 0;
}