<div class="container-fluid" style="margin-top:30px">
  <p>
    <b>Experience</b> <br>
    OpenStack -- Core Reviewer of Jenkins Job Builder <br>
    Core Reviewer of Jenkins Job Builder <br>
    May 2016 - Present <br>
    <hr>
    OpenDayLight Project -- Improve Jenkins Plugin Support <br>
    Improve Jenkins Plugin Support <br>
    May 2016 - August 2016
    <hr>
    <b>Skills</b> <br>
    Python, Git, Jenkins, Java
    <hr>
    <b>Education</b> <br>
    Bachelor of Engineering -- Computer Systems <br>
    Carleton University <br>
    Ottawa, Ontario <br>
    September 2014 - Present
    <hr>
  </p>
</div><!-- container -->
