<div class="container-fluid" style="margin-top:30px">
  <p>
    <b>Experience</b> <br>
    OpenDayLight Project -- Improve Jenkins Plugin Support <br>
    Maintainer of Jenkins Job Builder (JJB) <br>
    May 2016 - August 2016
    <hr>
    <b>Skills</b> <br>
    Python, Git, Jenkins, Java
    <hr>
    <b>Education</b> <br>
    Bachelor of Engineering -- Computer Systems <br>
    Carleton University <br>
    Ottawa, Ontario <br>
    September 2014 - Present
    <hr>
  </p>
</div><!-- container -->
