<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Kien Ha</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Open Source project contributor.">
        <meta name="author" content="Kien Ha">
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div class="navbar">
            <a class="element active" href="index.html">Home</a>
            <a class="element" href="about.html">About</a>
            <a class="element" href="blog.html">Blog</a>
            <a class="element" href="feh.html">FEH</a>
        </div>
        <div class="content">
            <!-- content -->
        </div>
        <div class="icon-container">
            <a href="https://github.com/kien-ha">
                <img src="icons/github-icon.jpg" alt="GitHub icon" width="35" height="35">
            </a>
            <a href="https://www.linkedin.com/in/kien-ha-9a6396a4/">
                <img src="icons/linkedin-icon.png" alt="Linkedin icon" width="35" height="35">
            </a>
        </div>
    </body>
</html>
